.gridPadreTienda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 3rem;
    justify-items: center;
    padding: 0rem 4rem;
    margin: 2rem 6.5rem;
    .gridGaleria {
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(8, auto);
        column-gap: 3rem;
        row-gap: 3rem;
    }
}

.producto{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px 2px rgba(250, 70, 89, 0.7);
}
.productoImagen{
    display: flex;
    justify-content: center;
}
.productoDatos{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productoBoton{
    margin: 1rem;
    padding: 0.8rem;
    border-color:$colorBlanco;
    background-color: $colorBlanco;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    &:hover{
        color: $colorBlanco;  
        background-color: $colorVerde;
        transition: 300ms linear;
    }
}
.imgProducto{
    padding-top: 1rem;
    width: 96%;
    height: 10rem;
    border-radius: 2rem;
}
.productoTitulo{
    padding: 1rem;
    text-align: center;
}
.productoPrecio{
    padding: 1rem;
}